USE [WorkingImages]
GO
/****** Object:  Table [dbo].[Pictures1]    Script Date: 2/24/2023 7:33:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pictures1] ON 

SET IDENTITY_INSERT [dbo].[Pictures1] OFF
GO
